@charset UTF-8;

body	{
	font-size:95%;
	background-color:#ffffff;
	}
p,h1,h2,h3{
	text-align:center;
	}

p	{
	font-size:11pt;
	}

h2	{
	font-size:15pt;
	}
h3	{
	font-size:13pt;
	}

hr	{
	border-style:solid;
	border-color:#555599;
	}

table.border-solid{
	border:2px solid #000000;
	border-collapse:collapse;
	}
.border-solid td,th{
	border:1px solid #000000;
	padding:5px;
	}
.back_color_pink{
	background-color:#FFCCFF;
	}
.back_color_yellow{
	background-color:#FFFFCC;
	}
